
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&display=swap');


/* General Styles for Larger Screens */
#main2:nth-child(3)>h2 {
    font-size: 40px;
    color: white;
    display: flex;
    justify-content: space-evenly;
    mix-blend-mode: screen;
    font-family: "Inter", serif;
    font-weight: 800;
    font-style: normal;
    letter-spacing: 5px;

}

#main2>#main2se1>h3 {
    font-family: "Istok Web", sans-serif;
    font-weight: 800;
    font-style: normal;
    margin-right: 15em;
    font-size: 30px;
    color: white;
    margin-top: 3em;
    margin-left: 3em;
    letter-spacing: 0.19em;
    line-height: 3rem;
}

#main2>#main2se1>h3>span {
    display: block;
}

#main2 {
    position: relative;
}

#main2>#main2se1>p {
    font-family: "Istok Web", sans-serif;
    font-weight: 50;
    font-style: normal;
    line-height: 2.1rem;
    color: white;
    font-size: 20px;
    margin-left: 5.1em;
    margin-right: 43em;
    letter-spacing: 0.19em;
}

#main2button {
    width: 10em;
    height: 3.2em;
    margin-left: 16em;
    margin-top: 2em;
    border-radius: 8em;
    border: #FFD703;
    background-color: #F2F463;
    box-shadow: 0px 10px 1000px #FFD703;
}

#main2>#main2se2>div {
    position: absolute;
    width: 340px;
    aspect-ratio: 1/1;
    border-radius: 500px;
    top: 15em;
    right: 14.2em;
    background: #D9D9D9;
    mix-blend-mode: soft-light;
}

#main2>#main2se2>img {
    position: absolute;
    top: 1.59em;
    right: 12.5em;
    width: 26em;
    border-radius: 100px;
    background-size: cover;


}
#main2>#main2se2>p{
    position: absolute;
    top: 2.8em;
    right: 15.8em;
    color: white;
    font-size: 30px;
    letter-spacing: 5px;
    mix-blend-mode: screen;
    font-family: "Inter", serif;

    font-style: normal;
}


#main2>#main2se2>h3 {
    position: absolute;
    top: 1.7em;
    right: 4em;
    font-size: 60px;
    line-height: 1.2em;
    letter-spacing: 5px;
    color: transparent;
    -webkit-text-stroke: 1px white;
    font-family: "Istok Web", sans-serif;
    font-style: normal;

    background: url("/assest/images/back.png"); /* Ensure the correct image path */
    background-size: cover; /* Ensure the background covers the text */
    -webkit-background-clip: text; /* Clip the background to the text */
    background-clip: text; /* Ensure it works across browsers */
    -webkit-text-fill-color: transparent; /* Ensure the text color is transparent */
    background-position:0 0 ;
    animation: back 20s linear infinite;
}





@keyframes back {
    100% {
        background-position: 800px 0; }
}

/* Media Query for Laptop Screens (1024px width) */
@media (max-width: 1024px) and (min-width: 769px)  {
    #main2:nth-child(3)>h2 {
        font-size: 45px; /* Adjusted heading size for laptop screens */
    }

    #main2>#main2se1>h3 {
        font-size: 26px; /* Adjusted subheading size */
        margin-left: 2em; /* Adjusted margin for better fit */
    }

    #main2>#main2se1>p {
        font-size: 17px; /* Slightly smaller font for paragraph */
        margin-left: 3em; /* Reduced left margin */
        margin-right: 27em; /* Reduced right margin for more space */
    }

    #main2button {
        width: 10em; /* Smaller button width */
        height: 3em; /* Smaller button height */
        margin-left: 12em; /* Adjusted button margin */
        margin-top: 1.3em; /* Adjusted top margin */
    }

    #main2>#main2se2>div {
        width: 245px; /* Reduced size for the circle */
        top: 14em; /* Adjusted position */
        right:5em; /* Adjusted position */
    }

    #main2>#main2se2>img {
        top: 3.95em; /* Adjusted position for image */
        right: 3.5em; /* Adjusted position */
        width: 19em; /* Smaller image size */
        object-fit: cover;
        height: auto;
    }

    #main2>#main2se2>h3 {
        font-size: 40px; /* Reduced heading size */
        right: 2em; /* Adjusted position */
        top: 3em;
    }
    #main2>#main2se2>p{

        top: 4em;
        right: 9.4em;
        font-size: 25px;
        letter-spacing: 5px;
        mix-blend-mode: screen;
        font-family: "Inter", serif;
        font-style: normal;
    }

}

@media (max-width: 768px) and (min-width: 426px) {
    #main2{
        margin-bottom: 25em;
    }
    #main2:nth-child(3)>h2 {
        font-size: 38px; /* Adjusted heading size for tablet screens */
    }

    #main2>#main2se1>h3 {
        text-align: center;
        margin-left: 0;
        margin-right: 0;
        margin-top: 2em;
        font-size: 25px;
        line-height: 2.5rem;
    }

    #main2>#main2se1>h3>span {
        display: block;
        margin-top: 0.5em;
    }

    #main2>#main2se1>p {
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        font-size: 15px; /* Reduced font size for paragraphs */
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin: 0 80px;
        text-align: justify;
    }

    #main2button {
        position: absolute;
        top: 10em;
        right: 0;
        left: 0;
        bottom: 0;
        margin: auto;
        width: 8em;
        height: 2.5em;
        margin-top:12em ;

    }

    #main2>#main2se2>div {
        width: 200px;
        top: 13.1em;
        right: 0;
        left: 0;
        bottom: 0;
        margin: auto;
    }

    #main2>#main2se2>img {
        top: 9em;
        right: 0;
        left: 0;
        bottom: 0;
        margin: auto;
        width: 16em;
        object-fit: cover;
        height: auto;
    }

    #main2>#main2se2 {
        text-align: center;
        position: relative;
    }


    #main2>#main2se2>h3 {
        font-size: 30px;
        position: static;
        margin-top: -0.5em;
        margin-left: 0;
        margin-right: 0;
    }



    #main2>#main2se2>p {
        font-size: 20px;
        letter-spacing: 3px;
        margin-top: 1.2em;
        position: static;
        margin-left: 0;
        margin-right: 0;
    }
}


@media (max-width: 426px) and (min-width: 376px) {
    #main2{
        margin-bottom: 25em;
    }

    #main2:nth-child(3)>h2 {
        font-size: 32px;
    }

    #main2>#main2se1>h3 {
        text-align: center;

        font-size: 22px; /* Reduce font size for mobile */
        line-height: 2rem; /* Adjust line height */
        margin: 40px 50px;
    }

    #main2>#main2se1>h3>span {
        display: block;
        margin-top: 0.3em; /* Maintain space between text and span */
    }

    #main2>#main2se1>p {
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        font-size: 14px; /* Reduced font size for paragraphs */
        display: flex;
        justify-content: center; /* Adjust centering */
        align-items: center;
        margin: 0 40px; /* Reduced margins for smaller screens */
        text-align: justify; /* Maintain justified text */
    }

    #main2button {
        position: absolute;
        top: 10em;
        right: 0;
        left: 0;
        bottom: 0;
        margin: auto;
        width: 8em;
        height: 2.5em;
        margin-top:12em ;

    }

    #main2>#main2se2>div {
        width: 200px;
        top: 13.1em;
        right: 0;
        left: 0;
        bottom: 0;
        margin: auto;
    }

    #main2>#main2se2>img {
        top: 9em;
        right: 0;
        left: 0;
        bottom: 0;
        margin: auto;
        width: 16em;
        object-fit: cover;
        height: auto;
    }

    #main2>#main2se2 {
        text-align: center;
        position: relative;
    }


    #main2>#main2se2>h3 {
        font-size: 30px;
        position: static;
        margin-top: 0.5em;
        margin-left: 0;
        margin-right: 0;
    }



    #main2>#main2se2>p {
        font-size: 20px;
        letter-spacing: 3px;
        margin-top: 1em;
        position: static;
        margin-left: 0;
        margin-right: 0;
    }
}

@media (max-width: 376px)and (min-width: 319px){
    #main2{
        margin-bottom: 25em;
    }
    #main2:nth-child(3)>h2 {
        font-size: 32px;
    }

    #main2>#main2se1>h3 {
        text-align: center;

        font-size: 22px; /* Reduce font size for mobile */
        line-height: 2rem; /* Adjust line height */
        margin: 40px 50px;
    }

    #main2>#main2se1>h3>span {
        display: block;
        margin-top: 0.3em; /* Maintain space between text and span */
    }

    #main2>#main2se1>p {
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        font-size: 14px; /* Reduced font size for paragraphs */
        display: flex;
        justify-content: center; /* Adjust centering */
        align-items: center;
        margin: 0 40px; /* Reduced margins for smaller screens */
        text-align: justify; /* Maintain justified text */
    }

    #main2button {
        position: absolute;
        top: 10em;
        right: 0;
        left: 0;
        bottom: 0;
        margin: auto;
        width: 8em;
        height: 2.5em;
        margin-top:12em ;

    }

    #main2>#main2se2>div {
        width: 200px;
        top: 12.1em;
        right: 0;
        left: 0;
        bottom: 0;
        margin: auto;
    }

    #main2>#main2se2>img {
        top: 8em;
        right: 0;
        left: 0;
        bottom: 0;
        margin: auto;
        width: 16em;
        object-fit: cover;
        height: auto;
    }

    #main2>#main2se2 {
        text-align: center;
        position: relative;
    }


    #main2>#main2se2>h3 {
        font-size: 30px;
        position: static;
        margin-top: -0.5em;
        margin-left: 0;
        margin-right: 0;
    }



    #main2>#main2se2>p {
        font-size: 20px;
        letter-spacing: 3px;
        margin-top: 1em;
        position: static;
        margin-left: 0;
        margin-right: 0;
    }
}

@media (max-width: 319px)and (min-width: 100px){
    #main2{
        margin-bottom: 25em;
    }
    #main2:nth-child(3)>h2 {
        font-size: 32px;
    }

    #main2>#main2se1>h3 {
        text-align: center;

        font-size: 22px; /* Reduce font size for mobile */
        line-height: 2rem; /* Adjust line height */
        margin: 40px 50px;
    }

    #main2>#main2se1>h3>span {
        display: block;
        margin-top: 0.3em; /* Maintain space between text and span */
    }

    #main2>#main2se1>p {
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        font-size: 14px; /* Reduced font size for paragraphs */
        display: flex;
        justify-content: center; /* Adjust centering */
        align-items: center;
        margin: 0 40px; /* Reduced margins for smaller screens */
        text-align: justify; /* Maintain justified text */
    }

    #main2button {
        position: absolute;
        top: 10em;
        right: 0;
        left: 0;
        bottom: 0;
        margin: auto;
        width: 8em;
        height: 2.5em;
        margin-top:12em ;

    }

    #main2>#main2se2>div {
        width: 200px;
        top: 13.1em;
        right: 0;
        left: 0;
        bottom: 0;
        margin: auto;
    }

    #main2>#main2se2>img {
        top: 9em;
        right: 0;
        left: 0;
        bottom: 0;
        margin: auto;
        width: 16em;
        object-fit: cover;
        height: auto;
    }

    #main2>#main2se2 {
        text-align: center;
        position: relative;
    }


    #main2>#main2se2>h3 {
        font-size: 30px;
        position: static;
        margin-top: 0.3em;
        margin-left: 0;
        margin-right: 0;
    }



    #main2>#main2se2>p {
        font-size: 20px;
        letter-spacing: 3px;
        margin-top: 1em;
        position: static;
        margin-left: 0;
        margin-right: 0;
    }
}


